.App{
  height:100vh;
  background-color: cadetblue;
}

.Header-container{
  display:flex; 
  justify-content:flex-start; 
  align-items: center;
  width:100%;
  background-color: blueviolet;
}
.navbar-inks{
  margin-left: 30px;
  
  
}

.links{
  padding:7px;
  color:white;
}

.giant {
  color:white;
  padding-left:10px;
  font-size: large;
}

.Footer-container {
  color:black;
  font-size: 10px;
  background-color: gray;
  width:100%;
  text-align: center;
  position: absolute;
  bottom: -8px;
}
.superheroselector{
  width:70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  
}
.power-button{
  padding:5px;
  margin-top: 15px;
  width:8%;
  margin-right:20px;
}
.sub-heading{
  width:30%;
  margin-left:80px;
  position:absolute;
  top: 141px;

}
.heading{
  margin-top: 0;
  width:40%;
}

.selectedHeroe{
  width:20%;
  margin-top:10px;
}
.superheroselector-container{
  background-color: yellow;
  width:90%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 70%;
height: 146px;
margin-top:50px;
background-color: blueviolet;
color: white;
margin-left: 69px;
}